<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script src="{{ asset('bundles/bfaprogressmonitor/js/progressmonitor/progressmonitor.js') }}" type="text/javascript"></script>
    </head>
    <body>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-2 text-center">
                    
                </div>
                <div class="col-md-10 text-center">
                    <h3> Test</h3>
                </div>
                <div class="col-md-2 text-center">
                    <button type="button" onclick="progressWorkRequestStop('{{uid}}')"  class="btn  btn-danger "><span class="glyphicon glyphicon-stop"></span> Stop</button>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="progress">
                        <div id='p-1' class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
                    </div>
                    <div id='t-1' class="highlight"></div>

                    <script>
                        $(function () {
                            avviaImportazioneConControllo('{{url}}', '{{uid}}');
                        });
                    </script>
                </div>
            </div>
            <div id="fineI" class="row-fluid" style="display: none;">
                <div class="col-md-12 text-center">

                    <div class="alert alert-success" role="alert">
                        Generazione completata
                    </div>                

                </div>
            </div>
        </div>

        <script>
            var vivi = true;
            function avviaImportazione(url) {
                console.log("avvio");
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {},
                    timeout: 600000,
                    error: null,
                    success: function (res) {
                        console.log(res);
                        $("#fineI").fadeIn('slow');
                    }
                });
            }

            function avviaImportazioneConControllo(url, uid) {
                avviaImportazione(url);
                progressWork(uid, $("#p-" + '1'), $("#t-" + '1'));
            }


        </script>
    </body>
</html>
